* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 15vh;

}

.logo {
    width: 100px;

}

#main {
    min-height: 75vh;
    background-color: aquamarine;
}

#contenedorPadre {
    width: 100%;

}

.imagen img {
    max-height: 75%;
    border-radius: 15px;

}

.imagen {
    max-height: 75%;
    border-radius: 15px;
}

.boton {
    width: 100%;
}


#principal {
    width: 92%;
    height: 70%;
}

#padre {
    width: 85%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*de aqui prueba de estilos ej 3*/

#derechoInput input{
    width: 100%;
    
}

#derechoTarjetas{
    height: 70%;
    border-radius: 15px;
}

#derechoPadre{
   
    height: 70vh;
    width: 100%;
}

#izquierdoInput{
    
    width: 85%;
    height: 50%;
}

#izquierdo{
   border-radius: 15px;
}

#izquierdoBoton{
    
    height: 30%;
}