* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 15vh;

}

.logo {
    width: 100px;

}

#main {
height: 75vh;
    background-color: aquamarine;
}

#main2 {
min-height: 75vh;
        background-color: aquamarine;
    }

#contenedorPadre {
    width: 100%;

}

.imagen img {
    max-height: 75%;
    border-radius: 15px;

}

.imagen {
    max-height: 75%;
    border-radius: 15px;
}

.boton {
    width: 100%;
}


#principal {
    width: 92%;
    height: 70%;
}

#padre {
    width: 85%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*de aqui prueba de estilos ej 3*/

#tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1vw 0;
   
    border-radius: 15px;
    
}

#padreNuevo{
    display: flex;
    flex-direction: column;
    height: 100%;
 }

#nuevaNota{
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: center;
}

#imprimirNota{
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    }

#botones{
    display: flex;
    flex-direction: column;

}

#nota{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    padding: 2vw;
    border-radius: 15px;
  
}